page-contact {

    #card1{
        background-color: darkorange;
    }

    .item-inner{
        font-size: 12px;
    }

    .resume{
      font-size: 12px;  
    }

    .input{
 
        border-style: inset;
        border-width: 2px;
    }

    #area{
        margin-top: 10px;
        margin-bottom: 10px;
        height: 150px;
        border-style: groove;
        border-width: 2px;
    }

    .button{
        display:block;
        margin:auto;
        background-color: cornflowerblue;
    }
}
